@import "normalize.css";

$yellow: #e0a80d;
$c-light: #b8b8b8;
$size-sm: 0.8077rem;
$size-lg: 3.4321rem;

$pad: 1rem;
$pad-xsm: 0.3rem;

/* Resets
============================= */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

h2 {
  border-bottom: 2px solid #404242;
}

h4 {
  margin-top: 6px;
}

/* General layout
============================= */

.wrapper {
  padding: $pad;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;

  @media only print {
    max-width: 860px;
  }
}

section + section {
  margin-top: $pad;
}

footer {
  border-top: 2px solid #404242;
  margin-top: $pad;
  padding-top: $pad;
}

@media only screen {
  .print-only {
    display: none;
  }
}

@media only print {
  .no-print {
    display: none;
  }
}

/* Contact information
============================= */

address {
  border-top: 2px solid #404242;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin-top: $pad;

  @media only screen and (max-width: 600px) {
    font-size: $size-sm;
  }
}

.contact-detail {
  float: left;

  & + &:before {
    color: $c-light;
    content: "\2022"; /* bullet */
    float: left;
    margin-left: $pad;
    margin-right: $pad;
  }

  @media only screen and (max-width: 600px) {
    display: block;
    float: none;
    & + &:before {
      display: none;
    }
  }
}

/* Lists
============================= */

ul {
  padding-left: 0.75em;
  list-style-type: none;
}

ul > li {
  position: relative;
}

ul > li:before {
  content: "\2022"; /* bullet */
  color: $c-light;
  display: block;
  position: absolute;
  top: 0;
  left: -0.75em;
  width: 0.75em;
}

/* Typography
============================= */

body {
  color: #979899;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

@media (min-width: 53.75em) {
  html {
    font-size: 18px;
  }
}

@media print {
  html {
    font-size: 12px;
  }
  body {
    line-height: 1.5;
  }
  .wrapper {
    margin-top: 50px;
  }
}

a {
  color: #e0a80d;
  display: inline-block; /* prevent line breaks */
  text-decoration: none;

  &:hover,
  &:focus {
    color: $yellow;
    outline: 1px dotted;
  }

  @media only print {
    color: inherit;
  }
}

address {
  font-style: normal;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: $size-lg;
  line-height: 1;
  margin: 0;


  @media only screen and (max-width: 400px) {
    font-size: 2.5rem;
  }
}

.heading {
    font-family: Oswald, Arial, sans-serif; 
    margin: 10px 0;
    span {
      color: #e0a80d;
    }
}

.feature {
  font-size: 1.0rem;
  margin-bottom: $pad;
  margin-top: $pad;

  @media only print {
    font-size: 1.1rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
}


/* Jobs
============================= */

.job-details {
  font-size: $size-sm;
  margin-bottom: $pad-xsm;
  b {
    color: $yellow;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

/* Print columns
============================= */

.row,
.print-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.print-col {
  width: 100%;
}

@media only print {
  .print-row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .print-col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    float: left;
  }
}

/* Footer links
============================= */

.footer-link {
  display: inline-block;
  margin-right: $pad;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

/* Header things
============================= */


.print-button {
  float: right;
  fill: $c-light;
  cursor: pointer;
  svg {
    display: block;
    width: 30px;
    height: 30px;
  }

  &:hover,
  &:focus {
    outline: 1px dotted;
    color: $yellow;
    fill: $yellow;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}